body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border:1px solid #E7BAFC;
  font-size: 25px;
  border-radius: 8px;
  outline:none;
  background-color:#F2F1F1;
  color: #ada8a8;
  margin-right:1%;
  width: 99%;
  padding:1%
}

input:hover{
  background-color: #f7f7f7;
  outline:none;
}
label{
  margin-right:2%;
  font-size: 25px;
  color: #6F6969;
}

button{
  width: 99%;
  margin-right:1%;
  background-color: #BE4F9C;
  font-size:25px;
}

h1{
  color:#4E3688;

}

.logo{
  width:150px;
  height: 150px;
}

.left{
  padding:15%;
  flex-basis:50%;
}

.right{
  padding-top:8%;
  flex-basis:50%;
}

.nav{
  padding-top:10%;
  flex-basis:15%
}

.nav>img{
  padding-top:10%;
  height:100px;
  width:100px;
}

.info{
  flex-basis:85%;
}



